h1 {
	font-style: italic;
	font-weight: bold;
	font-size: 1.6em;
	font-family: 'Trirong', serif;
	color: #006600;
	background-image: url(https://dl.dropboxusercontent.com/u/26719054/test_site/Images/vrlogo.png);
	background-repeat: no-repeat;
	padding: 1.5em 1em 1.5em 0.5em;
}

h2 {
	font-weight: bold;
	font-family: 'Trirong', serif;
	text-align: center;
	color: #006600;
}

h3 {
	font-weight: bold;
	font-size: 1.13em;
	font-family: 'Trirong', serif;
	color: #006600;
}

p{
	font-family: 'Rubik', sans-serif;
	clear: left;
}

ul{
	font-family: 'Rubik', sans-serif;
	list-style-type: square;
}

ul.menuitem{
	font-size: 0.75em;
	list-style-position: inside;
	display: block;
	list-style-type: square;
}

.thumbnail>p {
	line-height: 1.4em;
}

img{
	float: left;
}
.img-main{
	width: 80px;
	height: 71px;
	display: block;
}
#staff1{
	margin-right: 10px;
}
#staff2{
	margin-right: 10px;
}
#staff3{
	margin-right: 10px;
}
a:link{
	color: #0000ff;
	text-decoration: none;
}

a:visited{
		color: #006600;
		text-decoration: none;
}

a:hover{
	color: #ff0000;
	text-decoration: underline;
}